UDPSERVER_HOST=0.0.0.0
UDPSERVER_PORT=5555
UDPSERVER_PROTOCOL=DummySensorProtocol

PROTOCOL_REDIS_PUBLISHER_URL=redis://localhost/1
PROTOCOL_REDIS_PUBLISHER_CHANNEL_NAME=gauchitron-dev

INFLUXDB_V2_URL=http://influxdb:9999
INFLUXDB_V2_ORG=gauchitron
INFLUXDB_V2_TOKEN=https://v2.docs.influxdata.com/v2.0/security/tokens/view-tokens/
INFLUXDB_V2_TIMEOUT=6000
INFLUXDB_V2_TAG_HOSTNAME=gauchitron-devel
